
/* Header styles */
.bg{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    background-position: center;
    justify-content: center;
    border-radius: 15px;
    margin: 50px auto 120px;
}    

.text{
    font-family: Merriweather;
    padding: 177px 344px;
}
.short{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0;
}
.long{

    color: #FFF;
    margin-top: 0;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}
.div2{
    font-family: Inter;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;
}
/* 2nd part styles */
.off{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 20px;
}
.holiday{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}
.cata{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 15px;
}
.new-year-photo{
    align-items: center;
    width: 805px;
    height: 500px;
    margin-top: 48px;
}
/* 3rd part styles */
/* main part */
.welcome{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    background-position: center;
    justify-content: center;
    border-radius: 15px;
    margin: auto;
    
}
.welcome1{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7px;
}
.details{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}
.btn-primary{
    background-color: #F00;
    border-radius: 5px;
    color: #FFF;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    border: none;
}
.text1{
    padding: 110px 497px 142px 126px;
}
/* 4th part styles */
.join-now{
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    font-family: Inter;
    margin: auto;
    border-radius: 15px;
}
span{
    color: #F00;
}
.text2{
    margin-top: 120px;
    padding: 100px ;
    text-align: center;
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 60px;
}
/* 5th part style */
.number5{
   margin-top: 120px;
    width: 1320px;
    height: 3250px;
}
.part5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 115px;
}
.left{
    margin-top: 70px;
    
}
.new{
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.soon{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 0;
}
.details1{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-top: 15px;
    line-height: 30px;
}
/* 5th part image styles */
.image1{
    align-self: center;
    width: 463px;
    height: 463px;
    border-radius: 463px;
    border: 15px solid #F00;
    margin-left: 70px;
}
#img{
    width: 364.844px;
    height: 364.844px;
    border-radius: 364.844px;
    padding: 45px;
    
}
/* 5th part right styles */
.right{
    margin-top: 80px;
    margin-left: 120px;
}
.happy{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.thank-you{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.group96{
    margin-top: 40px;
    width: 140px;
    height: 140px;
    flex-shrink: 0;
    align-items: baseline;
}

/* 6th part styles */
/* testing */
.box{
    position: relative;
}
.group75{
    top: 200px;
    z-index: 1;
}
.rectangle1{
    bottom: 80px;
    right: 430px;
    
}
.group44{
    right: 580px;
    top: 300px;
    z-index: 1;
}
/* testing end */
.bonus-header{
    text-align: center;
}
.functional{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.holidays{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top: 0;
}
.holidays1{
    color: #F00;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}
.sale{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin-top: 0;
}
.hard{
    max-width: 1320px;
   display: flex;
  
}
/* 7th part */
.the-best-gift{
    margin-top: 120px;
}
.hover{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1320px;
}
.images{
    margin-right: 15px;
    margin-bottom: 24px;
    transition: 1s;
}
.images:hover{
    transform: scale(0.9);
}
/* 7th part */
.newsletter{
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 100%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    font-family: Inter;
    border-radius: 15px;
}
.text3{
    text-align: center;
    padding: 80px 212px;
    
}
.email{
    width: 648px;
    height: 72px;
    border: none;
    border-radius: 50px;
    background: #FFF;
    font-size: 20px;
    text-align: center;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-weight: 400;
}
.subscribe-btn{
    width: 210px;
    height: 72px;
    border: none;
    font-size: 30px;
    color: #FFF;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    margin-left: -100px;
    /* margin-bottom: -5px; */
}
/* 8th part */
.footer{
width: 1600px;
height: 610px;
background: #070211;
margin-left: -280px;
margin-top: 120px;
padding: 120px 140px;
}
section{
    color: #FFF;
}
.image4{
    margin-right: 25px;
}
.up{
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 150px;
}
.middle{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

}
.bottom{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.line{
    width: 1320px;
    height: 0;
    background: rgba(255, 255, 255, 0.15);    
}